.etabs-tabgroup {
    width: 100%;
    height: 32px;
    background-color: #222222;
    cursor: default;
    font: caption;
    font-size: 14px;
    -webkit-user-select: none;
    user-select: none;
}

.etabs-tabs {
}

.etabs-tab {
    display: none;
    position: relative;
    color: white;
    height: 22px;
    padding: 6px 8px 4px;
    font: caption;
    font-size: 14px;
    background-color: #1B1A23;
    cursor: default;
}

/* Dragula */
.etabs-tab.gu-mirror {
    padding-bottom: 0;
}

.etabs-tab:first-child {
    border-left: none;
}

.etabs-tab.visible {
    display: inline-block;
    float: left;
}

.etabs-tab.active {
    background: #555555;
}

.etabs-tab.flash {
    background: linear-gradient(to bottom, rgba(255,243,170,1) 0%,rgba(255,227,37,1) 100%);
}

.etabs-buttons {
    float: left;
}

.etabs-buttons button {
    float: left;
    color: #333;
    background: none;
    border: none;
    font-size: 12px;
    margin-top: 6px;
    border-radius: 2px;
    margin-left: 4px;
    width: 20px;
    text-align: center;
    padding: 4px 0;
}

.etabs-buttons button:hover {
    color: #eee;
    background-color: #aaa;
}

.etabs-tab-badge {
    position: absolute;
    right: 0;
    top: -7px;
    background: red;
    border-radius: 100%;
    text-align: center;
    font-size: 10px;
    padding: 0 5px;
}

.etabs-tab-badge.hidden {
    display: none;
}

.etabs-tab-icon {
    display: inline-block;
    height: 16px;
}

.etabs-tab-icon img {
    max-width: 16px;
    max-height: 16px;
}

.etabs-tab-title {
    display: inline-block;
    margin-left: 10px;
}

.etabs-tab-buttons {
    display: inline-block;
    margin-left: 10px;
}

.etabs-tab-buttons button {
    display: inline-block;
    color: white;
    background: none;
    border: none;
    width: 20px;
    text-align: center;
}

.etabs-tab-buttons button:hover {
    color: #CCC;
}

.etabs-views {
    border-top: 1px solid #aaa;
    height: calc(100vh - 33px);
    position:relative;
}

.etab-view {

}
