* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

body {
	font-family: Montserrat, sans-serif;
	user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

img {
	-webkit-user-select: none !important;
	-khtml-user-select: none !important;
	-moz-user-select: none !important;
	-o-user-select: none !important;
	user-select: none !important;
}

.main {
	position: relative;
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
	background-color: rgba(27, 26, 35, 1);
	overflow: hidden;
}

.sidebar {
	position: absolute;
	background-color: #22212D;
	width: 20vw;
	min-width: 240px;
	height: 100%;
}

.logo {
	padding-top: 20px;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255, 221, 11, 1);
	letter-spacing: 0.35px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.logo img {
	-webkit-user-drag: none;
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

.tab-item {
	width: 100%;
	height: 60px;
	padding: 30px 40px;
	opacity: 0.5;
	white-space: nowrap;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: white;
	letter-spacing: 0.25px;
	cursor: pointer;
	display: flex;
	align-items: center;
	border: none;
}

.tab-item span {
	display: flex;
	justify-content: center;
	align-items: center;
}

.tab-item span i,
.tab-item span {
	color: white;
}

.tab-item:hover {
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.1);
}

.tab-item.active {
	opacity: 1;
	padding-left: 35px;
	border-left: 5px solid #FFDD0B;
	background-color: rgba(0, 0, 0, 0.2);
}

.content {
	position: absolute;
	right: 0;
	width: 80vw;
	max-width: calc(100vw - 240px);
	height: 100%;
}

.btn {
	-moz-appearance: none;
	-webkit-appearance: none;
	background: #22212D;
	width: 120px;
	height: 34px;
	border-width: 2px;
	border-style: solid;
	border-radius: 4px;
	cursor: pointer;
}

button:focus,
.btn:focus,
input:focus,
textarea:focus {
	outline: none;
}

.btn:hover {
	background: #1B1A24;
}

.btn span {
	font-size: 13px;
	font-family: Montserrat;
}

.btn.cyan {
	border-color: #5EC8FF;
}

.btn.cyan span {
	color: #5EC8FF;
}

.btn.blue {
	border-color: #006FFF;
}

.btn.blue span {
	color: #006FFF;
}

.btn.pink {
	border-color: #8800FF;
}

.btn.pink span {
	color: #8800FF;
}

.btn.light-pink {
	border-color: #FF8BE4;
}

.btn.light-pink span {
	color: #FF8BE4;
}

.btn.green {
	border-color: #78FF5E;
}

.btn.green span {
	color: #78FF5E;
}

.btn.yellow {
	border-color: #FFDD0B;
}

.btn.yellow span {
	color: #FFDD0B;
}

.btn.red {
	border-color: #E21244;
}

.btn.red span {
	color: #E21244;
}

.top-buttons {
	padding-top: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.top-buttons .create_tasks, 
.top-buttons .mass_edit, 
.top-buttons .open_all, 
.top-buttons .close_all, 
.top-buttons .add_proxies, 
.top-buttons .remove_proxies, 
.top-buttons .import_proxies, 
.top-buttons .export_proxies {
	margin: 0 40px;
}

.bottom-buttons {
	padding-bottom: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bottom-buttons .queue_all, 
.bottom-buttons .start_tasks, 
.bottom-buttons .stop_tasks, 
.bottom-buttons .delete_tasks {
	margin: 0 40px;
}

.list-tasks {
	margin: 24px;
	height: calc(100vh - 170px);
	overflow-y: auto;
}

.list-proxies {
	margin: 24px;
	height: calc(100vh - 120px);
	overflow-y: auto;
}

.table-tasks, .table-proxies {
	color: white;
	font-size: 14px;
	font-weight: bold;
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
}

.table-tasks th, .table-proxies th {
	text-align: center;
	width: 100%;
	background: url("../images/column.png") no-repeat center;
	padding: 25px 0;
}

.table-tasks td {
	text-align: center;
	width: 100%;
	background: url("../images/column.png") no-repeat center;
	padding: 16px 0;
}

.table-proxies td {
	text-align: center;
	width: 100%;
	background: url("../images/column.png") no-repeat center;
	padding: 18px 0;
}

.table-tasks td .url {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.table-tasks td .proxy, 
.table-proxies td .proxy  {
	width: 22px;
	height: 22px;
	border: 4px solid #343347;
	border-radius: 50%;
	margin: 0 auto;
}

.table-proxies td .proxy.on,
.table-tasks td .proxy.on {
	background: #78FF5E;
}

.table-proxies td .proxy.off,
.table-tasks td .proxy.off {
	background: #E21244;
}

.table-proxies td .status.moved,
.table-tasks td .status.moved {
	color: #78FF5E;
}

.table-proxies td .status.queued,
.table-tasks td .status.queued {
	color: #FFDD0B;
}

.table-proxies td .status.working,
.table-tasks td .status.working {
	color: #78FF5E;
}

.table-proxies td .status.error,
.table-tasks td .status.error {
	color: #E21244;
}

.table-proxies td .action-buttons,
.table-tasks td .action-buttons {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.table-proxies td .action-buttons .task-btn,
.table-tasks td .action-buttons .task-btn {
	width: 16px;
	height: 16px;
	margin: 0 2px;
	cursor: pointer;
}

.table-proxies td .action-buttons .task-btn:hover,
.table-tasks td .action-buttons .task-btn:hover {
	opacity: 0.2;
}

.table-proxies td .action-buttons .task-btn.play,
.table-tasks td .action-buttons .task-btn.play {
	background: url('../images/play.png') no-repeat center;
	background-size: contain;
}

.table-proxies td .action-buttons .task-btn.pause,
.table-tasks td .action-buttons .task-btn.pause {
	background: url('../images/pause.png') no-repeat center;
	background-size: contain;
}

.table-proxies td .action-buttons .task-btn.delete,
.table-tasks td .action-buttons .task-btn.delete {
	background: url('../images/delete.png') no-repeat center;
	background-size: contain;
}

.table-proxies td .action-buttons .task-btn.edit,
.table-tasks td .action-buttons .task-btn.edit {
	background: url('../images/edit.png') no-repeat center;
	background-size: contain;
}

.table-proxies td .action-buttons .proxy-btn,
.table-tasks td .action-buttons .proxy-btn {
	width: 16px;
	height: 16px;
	margin: 0 2px;
	cursor: pointer;
}

.table-proxies td .action-buttons .proxy-btn:hover,
.table-tasks td .action-buttons .proxy-btn:hover {
	opacity: 0.2;
}

.table-proxies td .action-buttons .proxy-btn.play,
.table-tasks td .action-buttons .proxy-btn.play {
	background: url('../images/play.png') no-repeat center;
	background-size: contain;
}

.table-proxies td .action-buttons .proxy-btn.pause,
.table-tasks td .action-buttons .proxy-btn.pause {
	background: url('../images/pause.png') no-repeat center;
	background-size: contain;
}

.table-proxies td .action-buttons .proxy-btn.delete,
.table-tasks td .action-buttons .proxy-btn.delete {
	background: url('../images/delete.png') no-repeat center;
	background-size: contain;
}

.table-proxies td .action-buttons .proxy-btn.edit,
.table-tasks td .action-buttons .proxy-btn.edit {
	background: url('../images/edit.png') no-repeat center;
	background-size: contain;
}
.create-task-dialog,
.mass-edit-dialog,
.task-edit-dialog {
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	position: absolute;
	width: 540px;
	height: 270px;
	background: #1B1A23;
	border: solid 2px white;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	opacity: 0;
}

.create-task-dialog .title,
.task-edit-dialog .title,
.mass-edit-dialog .title,
.add-proxies-dialog .title {
	text-align: center;
	font-size: 24px;
	color: white;
}

.create-task-dialog .form-group,
.task-edit-dialog .form-group,
.mass-edit-dialog .form-group,
.add-proxies-dialog .form-group {
	width: 70%;
}

.task-edit-dialog .form-group {
	padding-bottom: 20px;
}

.create-task-dialog .form-group input::placeholder,
.mass-edit-dialog .form-group input::placeholder,
.task-edit-dialog .form-group input::placeholder,
.add-proxies-dialog .form-group textarea::placeholder {
	color: white;
}

.create-task-dialog .form-group .url-field,
.mass-edit-dialog .form-group .url-field,
.task-edit-dialog .form-group .url-field {
	width: 100%;
	margin-bottom: 10px;
}

.create-task-dialog .form-group .url-field .url-input,
.mass-edit-dialog .form-group .url-field .url-input, 
.task-edit-dialog .form-group .url-field .url-input{
	width: 100%;
	height: 35px;
	background: #22212D;
	color: white;
	border: 2px solid white;
	padding: 2px 5px;
	font-size: 14px;
	font-family: Montserrat;
}

.create-task-dialog .form-group .task-field {
	display: flex;
}

.create-task-dialog .form-group .task-field .task-input {
	width: calc(40% - 5px);
	height: 35px;
	background: #22212D;
	color: white;
	border: 2px solid white;
	padding: 2px 5px;
	font-size: 14px;
	font-family: Montserrat;
	margin-right: 10px;
}

.create-task-dialog .form-group .task-field .proxy-list {
	width: calc(60% - 5px);
	height: 35px;
	background: #22212D;
	color: white;
	border: 2px solid white;
	padding: 2px 5px;
	font-size: 14px;
	font-family: Montserrat;
}

.mass-edit-dialog .form-group .proxy-list,
.task-edit-dialog .form-group .proxy-list {
	margin-left: 20%;
	width: 60%;
	height: 35px;
	background: #22212D;
	color: white;
	border: 2px solid white;
	padding: 2px 5px;
	font-size: 14px;
	font-family: Montserrat;
}

.create-task-dialog .create-task-buttons,
.mass-edit-dialog .mass-edit-buttons,
.task-edit-dialog .task-edit-buttons-top, 
.task-edit-dialog .task-edit-buttons {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.task-edit-dialog .task-edit-buttons-top .btn.show,
.task-edit-dialog .task-edit-buttons-top .btn.refresh {
	margin-right: 10px;
}

.create-task-dialog .create-task-buttons .btn.create,
.mass-edit-dialog .mass-edit-buttons .btn.confirm,
.task-edit-dialog .task-edit-buttons .btn.confirm,
.add-proxies-dialog .add-proxies-buttons .btn.confirm {
	margin-right: 10px;
}

.create-task-dialog .create-task-buttons .btn.clear,
.mass-edit-dialog .mass-edit-buttons .btn.clear,
.task-edit-dialog .task-edit-buttons .btn.confirm,
.add-proxies-dialog .add-proxies-buttons .btn.clear {
	margin-left: 10px;
}

.add-proxies-dialog {
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
	position: absolute;
	width: 540px;
	height: 600px;
	background: #1B1A23;
	border: solid 2px white;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	opacity: 0;
}

.add-proxies-dialog .form-group textarea {
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	min-height: 400px;
	max-height: 400px;
	background: #22212D;
	color: white;
	border: 2px solid white;
	padding: 2px 5px;
	font-size: 14px;
	font-family: Montserrat;
}

.settings-panel .webhook-field, 
.settings-panel .push-notification-field, 
.settings-panel .audio-notification-field {
    display: flex;
    align-items: center;
	margin-bottom: 20px;
}

.settings-panel .static-input {
	width: 50%;
	height: 35px;
	background: #22212D;
	color: white;
	border: 2px solid white;
	padding: 2px 5px;
	font-size: 14px;
	font-family: Montserrat;
	pointer-events: none;
	margin-right: 16px;
}

.settings-panel .static-input::placeholder {
	color: white;
}

.btn.yellow-filled {
	border-color: #FFDD0B;
	background: #FFDD0B;
	color: white;
}

.btn.yellow-filled:hover {
	background: #1B1A24;
}

.btn.green-filled {
	width: 200px;
	border-color: #78FF5E;
	background: #78FF5E;
	color: black;
	font-weight: bold;
}

.btn.green-filled:hover {
	background: #1B1A24;
	color: white;
	font-weight: normal;
}

.switch {
	position: relative;
	display: inline-block;
	width: 120px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #676767;
	border: 2px solid white;
	border-radius: 34px;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 24px;
	width: 24px;
	left: 3px;
	bottom: 3px;
	background-color: rgb(214, 214, 214);
	border-radius: 50%;
	-webkit-transition: .2s;
	transition: .2s;
}

input:checked+.slider {
	background-color: #22212D;
}

input:checked+.slider:before {
	-webkit-transform: translateX(86px);
	-ms-transform: translateX(86px);
	transform: translateX(86px);
	background-color: #FFDD0B;
}

.user-info-panel {
    margin: 30px  40px;
    height: 160px;
    background: #22212D;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info-panel .user-profile {
    margin-left: 20px;
    display: flex;
}

.user-info-panel .user-profile .avatar {
	position: relative;
    width: 120px;
    height: 120px;
    border: 6px solid #FFDD0B;
    border-radius: 50%;
}

.user-info-panel .user-profile .avatar img {
	-webkit-user-drag: none;
	position: absolute;
	top: -1px;
	left: -1px;
}

.user-info-panel .user-profile .avatar img.round {
	border-radius: 50%;
}

.user-info-panel .user-profile .user-info {
    color: white;
    margin-left: 20px;
    margin-top: 20px;
}

.user-info-panel .user-profile .user-info .license {
    font-weight: bold;
    margin-bottom: 8px;
}

.user-info-panel .user-profile .user-info .license-key, 
.user-info-panel .user-profile .user-info .username, 
.user-info-panel .user-profile .user-info .useremail {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 8px;
}

.user-info-panel .profile-buttons {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-right: 20px;
}

.user-info-panel .profile-buttons .btn {
    height: 26px;
    margin-bottom: 6px;
}

.user-info-panel .profile-buttons .btn span {
    font-size: 12px;
}

.user-info-panel .profile-buttons .social-links {
    margin-top: 10px;
    display: flex;
    justify-content: end;
}

.user-info-panel .profile-buttons .social-links a {
    margin-right: 10px;
    color: white;
}

.user-info-panel .profile-buttons .social-links a:hover {
    opacity: 0.6;
}

.settings-panel {
    margin: 40px;
}

#dialogs-div {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.4);
	display: none;
}

.auth-dialog {
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	position: absolute;
	width: 540px;
	height: 270px;
	background: #1B1A23;
	border: solid 2px white;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.auth-dialog .auth-buttons {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.auth-dialog .auth-buttons .btn.activate {
	margin-right: 10px;
}

.auth-dialog .auth-buttons .btn.close {
	margin-left: 10px;
}

.auth-dialog .form-group {
	margin-top: 30px;
	margin-bottom: 30px;
}

.auth-dialog .form-group .license-field {
	width: 400px;
}

.auth-dialog .form-group .license-field .message {
	font-size: 12px;
	width: 100%;
	text-align: center;
	color: #E21244;
}

.auth-dialog .form-group .license-field .license-input {
	width: 100%;
	height: 35px;
	background: #22212D;
	color: white;
	border: 2px solid white;
	padding: 2px 5px;
	font-size: 14px;
	font-family: Montserrat;
	margin-right: 10px;
}

.auth-dialog .form-group .license-field .license-input::placeholder {
	color: white;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #22212D; 
}

::-webkit-scrollbar-thumb {
	background: rgb(74, 72, 94); 
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(175, 175, 175); 
}

.lds-dual-ring {
	position: absolute;
	display: inline-block;
	width: 66px;
	height: 66px;
	left: calc(50% - 33px);
	top: calc(50% - 33px);
  }
  .lds-dual-ring:after {
	content: " ";
	display: block;
	width: 50px;
	height: 50px;
	margin: 8px;
	border-radius: 50%;
	border: 3px solid #fff;
	border-color: #fff transparent #fff transparent;
	animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  